/* Variables */
:root {
--basic-black: #000000;
--basic-grey: #A6A6A6;
--basic-red: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC84A;
--basic-yellow2: #EAB534;
--basic-yellow3: #E5A722;
--basic-neutral: #E1E1E1;
--basic-white: #FFFFFF;
--basic-dark: #4D4D4D;
--basic-light-grey: #EEEEEE;
--basic-darken: #888888;
--basic-red2: #E74246;
--basic-red3: #D7373B;
--basic-green2:  #00BC6C;
--basic-green3: #00AA62;
--basic-dark-shade-grey: #666666;
--basic-blue-blue: #283136;
--basic-medium-grey: #444444;
--basic-light-grey2: #DFDFDF;
--basic-light-grey3: #D5D5D5;


}
/* Global*/

.page-body {
min-width: 1440px;
margin: 0;
padding: 0;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: 500;
color: var(--basic-black);
}
.main-header,
.basket,
.slide1 {
    background-color: var(--basic-light-grey);
}

.page a {

    text-decoration: none;
}
img {

    max-width: 100%;
    height: auto;
}
/* Main navigation */
.main-navigation-wrapper {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
}

.site-navigation {
    list-style: none;
    text-transform: uppercase;

}
.basket {
    text-transform: uppercase;
}
/* User navigation */
.site-navigation a,
.basket {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket:hover,
.basket:focus {
color: var(--basic-red);
}
.site-navigation a:active,
.basket:active {
mix-blend-mode: normal;
opacity: 0.3;
}

/* MAIN*/
.slide1 {
    background-color: var(--basic-light-grey);
}

}
.title {
left: 140px;
top: 192px;
font-weight: 500;
font-size: 55px;
line-height: 55px;
}
.subtitle {
font-size: 16px;
line-height: 24px;
font-weight: normal;
}
/* main-button*/
.main-button {
    font: inherit;
    background: #FB565A;
    color: var(--basic-white);
    border: none;
    border-radius: 3px;
}

.main-button:hover,
.main-button:focus {
background-color: var(--basic-red2);

}
.main-button:active {
color: var(--basic-red3);
}

.main-picture {

}
/* Service*/

.service {
list-style: none;
font-size: 24px;
line-height: 30px;
}
.service-list {
font-size: 16px;
line-height: 24px;
}
.lead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.tagline {
    color: var(--basic-blue-blue);
    font-weight: normal;
}
/*Service-button*/
.button-1 {
font: inherit;
background: #FB565A;
color: var(--basic-white);
border: none;
border-radius: 3px;
text-transform: uppercase;

}
.button-1:hover,
.button-1:focus {
background-color: var(--basic-red);

}
.button-1:active {
color: var(--basic-red3);
}
.button-2 {
font: inherit;
color: var(--basic-white);
background-color: var(--basic-green);
border: none;
border-radius: 3px;
text-transform: uppercase;
}
.button-2:hover,
.button-2:focus {
background-color: var(--basic-green2);
}
.button-2:active {
color: var(--basic-green3);
}

.button-3 {
font: inherit;
color: var(--basic-white);
background-color: var(--basic-yellow);
border: none;
border-radius: 3px;
text-transform: uppercase;
}
.button-3:hover,
.button-3:focus {
background-color: var(--basic-yellow2);
}
.button-3:active {
color: var(--basic-yellow3);
}

/* About */

.heading {
font-size: 45px;
line-height: 45px;
}
.subheading {
font-size: 16px;
line-height: 24px;
font-weight: normal;
color: var(--basic-blue-blue);
}
.about-title {
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
font-weight: bold;
color: var(--basic-blue-blue);
}
.about-list {
list-style: none;
font-size: 16px;
line-height: 24px;
font-weight: normal;
color: var(--basic-blue-blue);
}

/* Article*/
.caption {
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
font-weight: 700;
}
.headline {
font-size: 45px;
line-height: 64px;
font-weight: bold;
}
.subheadline {
font-size: 16px;
line-height: 18px;
font-weight: normal;
color: var(--basic-blue-blue);
}
/*partners-logo*/


/* FOOTER */
.main-title {
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
font-weight: bold;
}
.footer-address {
font-size: 16px;
line-height: 18px;
font-weight: normal;
color: var(--basic-dark-shade-grey);
}
.map-marker {
    left: 822px;
top: 1929px;
}


/* footer-button */
.footer-button {
font: inherit;
color: var(--basic-white);
background-color: var(--basic-red);
border: none;
border-radius: 3px;
}
.footer-button:hover,
.footer-button:focus {
    background-color: var(--basic-red2);
}
.footer-button:active {
    color: var(--basic-red3);
}
/* Footer-social*/
.footer-title {
font-weight: bold;
font-size: 36px;
line-height: 36px;
}
.footer-subtitle {
font-size: 16px;
line-height: 22px;
font-weight: normal;
color: var(--basic-medium-grey);
}
/* Footer-socials*/
.social {
list-style: none;
}

/* CATALOG*/
.title2 {
font-weight: 500;
font-size: 55px;
line-height: 55px;
background-color: var(--basic-light-grey);
}

.cost {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.grid {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.features {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;

}
/* Grey-button */
.grey-button {
color: var(--basic-black);
background-color: var(--basic-light-grey);
border-radius: 3px;


}
.grey-button:hover,
.grey-button:focus {
background-color: var(--basic-light-grey2);
}
.grey-button:active {
color: var(--basic-light-grey3);
}
/* Templates */
.sort {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}
.assort {
list-style: none;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}

/* Templates-button */
.button1 {
color: var(--basic-black);
background-color: var(--basic-light-grey);
border-radius: 3px;
}
.button1:hover,
.button1:focus {
background-color: var(--basic-light-grey2);
}
.button1:active {
color: var(--basic-light-grey3);
}
.button2 {
color: var(--basic-black);
background-color: var(--basic-light-grey);
border-radius: 3px;
}
.button2:hover,
.button2:focus {
background-color: var(--basic-light-grey2);
}
.button2:active {
color: var(--basic-light-grey3);
}

.button3 {
color: var(--basic-black);
background-color: var(--basic-light-grey);
border-radius: 3px;
}
.button3:hover,
.button3:focus {
background-color: var(--basic-light-grey2);
}
.button3:active {
color: var(--basic-light-grey3);
}

.button-next {
color: var(--basic-black);
background-color: var(--basic-light-grey);
border-radius: 3px;
}
.button-next:hover,
.button-next:focus {
background-color: var(--basic-light-grey2);
}
.button1-next:active {
color: var(--basic-light-grey3);
}

